.container {
  opacity: 0.9;
  background-color: #fafafa;
  height: 38rem;

  &.desktop {
    height: 33rem;

  }

  .top {
    .about-text {
      font-size: 14px;
      font-weight: 200;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.08px;
      text-align: center;
      color: var(--black);

      .header {
        padding: 8% 10% 2% 10%;
      }

      .text {
        padding: 0 10% 0 10%;
      }
    }
  }

  .image {
    padding: 8.5%;
    text-align: center;
  }

  .app-stores {
    max-width: 71%;
  }

  .svg-im {
    width: fit-content;
    overflow: auto;
  }
}

.desktop {
  .image {
    width: 45%;
    padding: 10% 15% 0 0;
  }

  .header {
    font-size: 30px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.89px;
    color: var(--black);
    text-align: left;
  }

  .text {
    font-size: 22px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.69px;
    color: var(--black);
    text-align: left;
  }

  .app-stores {
    max-width: 45%;
    padding: 1% 19% 0% 7%;
  }

  .svg-im {
    width: fit-content;
    overflow: auto;
  }
}
