<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start" ngClass.gt-sm="desktop">
    <div class="top" fxLayout.gt-sm="row">
        <div class="about-text">
            <div class="header">
                ABOUT US :
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum non eu
                ipsum.
                Cras porta malesuada eros, eget blandit turpis suscipit at. Vestibulum sed massa in magna sodales porta.
                Vivamus elit urna, dignissim a vestibulum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum non eu
                ipsum.
                Cras porta malesuada eros, eget blandit turpis suscipit at. Vestibulum sed massa in magna sodales porta.
                Vivamus elit urna, dignissim a vestibulum.
            </div>
        </div>
        <div class="image">
            <img src="/../assets/about-logo.png">
        </div>
    </div>
    <div class="app-stores" fxLayout="row">
      <img class="svg-im" src="/../assets/apple.svg">
      <img class="svg-im" src="/../assets/google.svg">
    </div>
</div>
