<h2 mat-dialog-title>Register</h2>
<form class="registerForm" [formGroup]="fg" (ngSubmit)="onSubmit()">
    <mat-dialog-content fxLayout="column" fxLayoutGap="5px">
        <mat-form-field>
            <mat-card-subtitle>First name:</mat-card-subtitle>
            <input matInput type=" text" formControlName="first_name">
        </mat-form-field>
        <mat-form-field>
            <mat-card-subtitle>Last name:</mat-card-subtitle>
            <input matInput type="text" formControlName="last_name">
        </mat-form-field>
        <mat-form-field>
            <mat-card-subtitle>Email address:</mat-card-subtitle>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-card-subtitle>Password:</mat-card-subtitle>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="!fg.valid">Register</button>
    </mat-dialog-actions>
</form>