
.container {
    font-size: 12px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.76px;
    text-align: center;
    color: var(--black);
    .div{
        padding: 3%;
    }
  }