.container {
  width: fit-content;
  display: table;
  width: 206px;
  height: 338px;
  text-align: center;
  overflow: hidden;
  text-overflow: hidden;
  white-space: pre-line;
   &.desktop {
    width: 360px;
    max-height: 490px;
  }
}
.rect-div {
  opacity: 0.7;
  background-color: #f7e0b2;
  display: table-caption;
  caption-side: bottom;
  width: 100%;
  padding: 30px 0 30px 0;
}

img {
  max-height: 100%;
}
