.container{
    width: fit-content;
    display: table;
    width: 206px;
     height: 338px;
     &.desktop{
        width: 360px;
         height: 357px;
     }
}
.rect-div {
    opacity: 0.7;
    background-color: #f7e0b2;
    display: table-caption;
    caption-side: bottom;
    width: 100%;
  }