<h2 mat-dialog-title>Restaurant editing:</h2>
<mat-dialog-content class="form" [formGroup]="group" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutGap="15px">
    <div class="col" fxLayout="column" fxLayoutGap="5px">
        <mat-form-field fxLayout="row">
            <mat-card-subtitle>Restaurants name:</mat-card-subtitle>
            <input matInput type=" text" formControlName="name">
        </mat-form-field>
        <mat-form-field fxLayout="row">
            <mat-card-subtitle>Chefs name:</mat-card-subtitle>
            <input matInput type="text" formControlName="chef">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="delete()" [disabled]="!group.valid">Delete restaurant</button>
    <button mat-button mat-dialog-close (click)="onSubmit()" type="submit" [disabled]="!group.valid">Submit
        changes</button>
</mat-dialog-actions>
<!-- <div class="col" fxLayout="column wrap" fxLayoutGap="15px grid">
        <div class="loop-item" *ngFor="let name of daysNames" fxLayout="column">
            <mat-card-subtitle>{{name}}</mat-card-subtitle>
            <div class="opening-closing" fxLayout="row" fxLayoutGap="15px">
                <mat-form-field fxLayout="row" fxLayoutGap="15px">
                    <mat-card-subtitle>Opening hour</mat-card-subtitle>
                    <input type="time" matInput  class="input-tag" [formControlName]="name + 'Opening'">
                </mat-form-field>
                <mat-form-field fxLayout="row" fxLayoutGap="15px">
                    <mat-card-subtitle>Closing hour</mat-card-subtitle>
                    <input type="time" matInput  class="input-tag" [formControlName]="name + 'Closing'">
                </mat-form-field>
            </div>
        </div>
        <mat-card-subtitle>An unchanged hour toggle will be considered<br> as a closed day for the restaurant!</mat-card-subtitle>
    </div> -->