<div class="container">
    <div class="chef-details">
        <div class="header text">
            CHEF OF THE WEEK :
        </div>
        <div class="ecnompass" fxLayout.gt-md="row">
            <div class="image" fxLayout="col" fxLayoutAlign="center end">
                <img src="/../assets/rectangle@3x.png" style="width: 100%;">
                <div class="name text" style="font-size: 30px; font-weight: bold;">
                    Yossi Shitrit
                </div>
            </div>
            <div class="description text">
                Chef Yossi Shitrit has been living and breathing his culinary dreams for
                more than two decades, including running the kitchen in his first
                restaurant, the fondly-remembered Violet, located in Moshav Udim.
                Shitrit's creativity and culinary acumen born of long experience
                are expressed in the every detail of each and
                every dish.
            </div>
        </div>
    </div>
    <div class="carousel-container">
        <div class="text" fxLayoutAlign="start">
            Yossi's restaurants :
        </div>
        <div class="carousel">
<!--            <app-carousel></app-carousel>-->
        </div>
    </div>
</div>
