<div class="container" ngClass.gt-md="desktop" fxLayout="column" fxLayoutAlign="center">
  <div class="text" ngClass.gt-md="desktop">
    THE MEANING OF OUR ICONS :
  </div>
  <div class="icons text" fxLayout="row" fxLayoutAlign="center">
    <div class="section" fxLayout="row" fxLayoutAlign="end">
      <div class="spicy-div">
        <picture>
          <source media="(min-width: 600px)" srcset="/../assets/spicy@2x.svg">
          <img class="image"
               src="/../assets/spicy-icon.svg"/>
        </picture>
        <div>spicy</div>
      </div>
    </div>
    <div class="section" ngClass.gt-md="desktop" fxLayout="row" fxLayoutAlign="center">
      <div class="vegetarian-div">
        <picture >
          <source media="(min-width: 600px)" srcset="/../assets/vegetarian@2x.svg" >
          <img class="image"
               src="/../assets/vegiterian-icon.svg" />
        </picture>
        <div>Vegetarian</div>
      </div>
    </div>
    <div class="section" fxLayout="row" fxLayoutAlign="start">
      <div class="vegan-div">
        <picture >
          <source media="(min-width: 600px)" srcset="/../assets/vegan@2x.svg" >
          <img class="image"
               src="/../assets/vegan-icon.svg" />
        </picture>
        <div>
          Vegan
        </div>
      </div>
    </div>
  </div>
</div>

